.widget
  .widget-title
    <a href="http://music.163.com/#/user/home?id=60397186" target="_blank"><i class='fa fa-music'></i>&nbsp;&nbsp;&nbsp;Kerita 的网易云</a>
    <div style="font-size:12px;color:#ccc;"><span>提示:</span>歌单区域鼠标滚动失效</div>
  .tagcloud
    <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=280 height=520 src="//music.163.com/outchain/player?type=0&id=885421689&auto=0&height=430" style="margin-left:-10px"></iframe>
