<h4>请我喝瓶酸奶(长按或扫描)：</h4>

<div style="text-align:center">
<img src="http://7xpofw.com1.z0.glb.clouddn.com/wechatpay.jpg" width="50%"  style="float:left"/> 
<img src="http://7xpofw.com1.z0.glb.clouddn.com/alipay2.jpg" width="50%"  style="float:left"/> 
</div>
<br/>
